html {
  width: 100%;
  width: 1200px;
  margin: auto;
}

body {
  width: 100%;
  width: 1200px;
  background-color: #ffffff;
}

header {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  z-index: 1;
}

.header {
  width: 100%;
  box-sizing: content-box;
  height: 29.04px;
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  width: 472px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  color: #161616;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  text-decoration: none;
}

.header-nav-text:hover {
  color: #6a6a6a;
}

.header-name {
  font-family: "montserrat";
  text-decoration: none;
  font-style: normal;
  color: #244d4d;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.header-name:hover {
  color: #02c7c7;
}

.header-icon {
  cursor: pointer;
}

.header-icon-search {
  padding-right: 30px;
  cursor: pointer;
}

/* @supports (background-color: aqua) {
  body {
    background-color: aqua;
  }
}

@supports not (background-color: aqua) {
  body {
    background-color: #161616;
  }
} */
