.main {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  margin-top: 100px;
}
.main-container {
  width: 100%;
  display: flex;
}
.main-container-right {
  width: 100%;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  padding: 101px 18px 137px 100px;
  background-color: #154444;
}
.main-container-title {
  width: 671px;
  height: 136px;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}

.main-container-text {
  margin-bottom: 35px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.main-container-button {
  width: 172.58px;
  height: 56px;
  padding: 0;
  background: #ffffff;
  transition: background 0.3s;
  border: none;
  color: #154444;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.main-container-button:hover {
  background: #b9b9b9;
}
